<DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
  <div class="full-size valign-wrapper">
    <div class="login-wrapper">
      <%= error %>
    </div>
  </div>
  </body>
</html>